<%- include('partials/header') -%>
<main class="flex justify-center align-center">
  <div class="flex flex-col w-full lg:flex-row m-2">
    <div class="grid flex-grow h-auto lg:w-1/2 lg:m-2 card bg-emerald-100 rounded-box place-items-center p-3">
      <h1 class="text-lg font-semibold">Current restaurant list</h1>
      <% for (let restaurant of restaurants) { %>
        <div class="card m-2 w-96 bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title"><%= restaurant.name %></h2>
            <p><%= restaurant.area %></p>
            <p><%= restaurant.notes %></p>
          </div>
        </div>
        <% } %>
    </div>
  
    <div class="divider lg:divider-horizontal"></div>
  
    <div class="grid flex-grow h-auto lg:w-1/2 lg:m-2 card bg-emerald-100 rounded-box justify-center">
      <div class="mt-5">
        <h1 class="mb-4 text-lg font-semibold">Add a new restaurant</h1>
        <!-- put the full path and route for action -->
        <form action="/restaurants/createRestaurant" method="POST">
          <div class="mb-3">
            <label for="title" class="form-label">Restaurant name:</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="mb-3">
            <label for="area" class="form-label">Where is it located:</label>
            <input type="text" class="form-control" id="area" name="area">
          </div>
          <div class="mb-3">
            <label for="food" class="form-label">What food it serves:</label>
            <input type="text" class="form-control" id="food" name="food">
          </div>
          <div class="mb-3">
            <label for="notes" class="form-label">Any notes:</label>
            <textarea class="form-control" id="notes" name="notes"></textarea>
          </div>
          <button type="submit" class="btn btn-accent mb-5" value="Upload">Submit</button>
        </form>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
