<%- include('partials/header') -%>

  <main class="flex flex-col justify-center items-center">

    <div class="w-max bg-emerald-100 rounded-box">
      <h2 class="mb-2 p-2 text-lg font-semibold">Choose from this list</h2>
      <% for (let restaurant of choice) { %>
      <div class="card m-8 w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title"><%= restaurant.name %></h2>
          <p><%= restaurant.area %></p>
          <p><%= restaurant.notes %></p>
        </div>
      </div>
      <% } %>
    </div>
  <div><a href="/choose" class="link link-secondary">I want to eat something different</a></div>

  </main>

  <%- include('partials/footer') -%>